# This file tells the git repository to ignore some files and folders.
# This file is explained at
# http://git-scm.com/book/en/Git-Basics-Recording-Changes-to-the-Repository

# A git cheatsheet is available at:
# https://github.com/Folds/english/wiki/Git-Commands

# ignore the following directories:
target/
.idea/libraries/

# ignore the following items, because they
# currently just default to IntelliJ's default IDE settings,
# and/or store IntelliJ session data:
.idea/encodings.xml
.idea/scopes/
.idea/uiDesigner.xml
.idea/vcs.xml
.idea/workspace.xml
